@CHARSET "ISO-8859-1";

/* Datatable */

.ui-panel-titlebar {
padding: 0.1em 0.1em 0.1em !important;
}
.ui-widget {
 font-family: Arial,sans-serif !important; 
 font-size: 12px !important; 
}
.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
padding: 1px !important; 
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current {
display: inline-block;
padding: 1px 6px !important; 
zoom: 1;
margin-left: 1px;
margin-right: 1px;
text-decoration: none;
outline: none;
}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
padding: 2px 10px !important; 
overflow: hidden;
border-width: 1px;
border-style: solid;
}
.ui-button-text-only .ui-button-text {
		padding: 1px 12px !important;
}

/* Input fields */

.ui-inputfield {
padding: 2px;
font-weight: normal;
}

input[type="text"] {
padding: 3px !important;
}


/* main panel - full page */

.mainpanel {
	min-height:520px;
}

.mainpanel.ui-corner-all {
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}

.mainpanel.ui-widget-content {
border: 0px solid #D3C7A3;
}

/* fieldset style */

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
padding: 0.3em 1em;
}

.contentstyle{
	margin: 25px;
}

